body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.header, .main {
    grid-column: 2;
}

.announcements, .trending {
    grid-column: 3;
}

.sidebar {
    background-color: rgb(21, 73, 127);
    grid-row: 1/7;
    height: 100%;
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.sidebar::before {
    content: url(atom.svg);
    filter: invert(100%);
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 11px;
}

.sidebar-body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 30px;
    font-size: 1.3rem;
    margin: 50px 10px;
}

.sidebar-icons {
    justify-self: end;
}

.sidebar-actions {
    justify-self: start;
    text-align: left;
}

.sidebar-actions > *, .sidebar-icons > * {
    margin: 20px 0px;
}

.sidebar-actions > :nth-child(6), .sidebar-icons > :nth-child(6) {
    margin-bottom: 80px;
}
