body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    border-style: none;
}

ul, ol, li {
    list-style: none;
}

button {
    width: 100px;
    border-radius: 50px;
}

input {
    border-radius: 50px;
    width: 500px;
    height: 2rem;
    background-color: buttonface;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.announcements, .trending {
    grid-column: 3;
}

.sidebar {
    background-color: rgb(21, 73, 127);
    grid-row: 1/7;
    height: 100%;
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
}

.sidebar::before {
    content: url(admin-dashboard-icons/atom.svg);
    filter: invert(100%);
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 11px;
}

.sidebar-body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
    font-size: 1.3rem;
    margin: 50px 22px;
}


.sidebar-icons > * {
    justify-self: end;
    filter: invert(100%);
    height: 1.3rem;
    width: 1.3rem;
}

.sidebar-icons, .sidebar-actions {
    display: grid;
    grid-template-columns: min-content;
    gap: 20px;
}

.sidebar-actions {
    text-align: left;
}

.sidebar-actions > :nth-child(6), .sidebar-icons > :nth-child(6) {
    margin-bottom: 50px;
}

.header {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    margin: 20px;
}
