body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.header, .main {
    grid-column: 2;
}

.announcements, .trending {
    grid-column: 3;
}

.sidebar {
    background-color: rgb(21, 73, 127);
    grid-row: 1/7;
    height: 100%;
    color: white;
    padding-left: 20px;
}