body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
    border-style: none;
}

ul, ol, li {
    list-style: none;
}

button {
    width: 6rem;
    height: 2rem;
    border-radius: 50px;
    background-color: rgb(21, 73, 127);
    color: white;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

input {
    border-radius: 50px;
    width: 750px;
    height: 2rem;
    background-color: buttonface;
}

img {
    height: 1.3rem;
    width: auto;
}

img[alt='search'] {
    position: absolute;
    top: 28px;
    margin-left: -30px;
}

img[alt='cat'] {
    min-height: 2.5rem;
    margin-top: -15px;
}

img+div {
    display: inline;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.sidebar {
    background-color: rgb(21, 73, 127);
    grid-row: 1/7;
    height: 100%;
    color: white;
    padding: 20px;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
}

.sidebar::before {
    content: url(admin-dashboard-icons/atom.svg);
    filter: invert(100%);
    width: 3rem;
    height: 3rem;
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 11px;
}

.sidebar-body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    gap: 20px;
    font-size: 1.3rem;
    margin: 50px 22px;
}


.sidebar-icons > * {
    justify-self: end;
    filter: invert(100%);
    height: 1.3rem;
    width: 1.3rem;
}

.sidebar-icons, .sidebar-actions {
    display: grid;
    grid-template-columns: min-content;
    gap: 20px;
}

.sidebar-actions {
    text-align: left;
}

.sidebar-actions > :nth-child(6), .sidebar-icons > :nth-child(6) {
    margin-bottom: 50px;
}

.header-container {
    grid-column: 2/4;
    box-shadow: 5px 5px 5px rgb(209, 207, 207);
}

.header {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: repeat(2, auto);
    height: 100%;
    gap: 10px;
    margin: 20px 80px;
    padding-bottom: 10px;
    font-weight: 700;
}

.header > :nth-child(3) {
    display: grid;
    grid-template-columns: 50px 50px 1fr;
    gap: 20px;
    padding-top: 7px;
    justify-self: end;
}

.main, .announcements, .trending {
    background-color: buttonface;
    z-index: -1;
}

.wassup > img {
    height: 4.5rem;
    margin-left: -25px;
    position: absolute;
    top: 85px;
}

#wassup {
    margin-left: 65px;
    font-size: .8rem;
}

#skylar {
    margin-left: 60px;
    font-size: 2.3rem;
}

.skylar {
    display: grid;
    grid-template-columns: 1fr;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-self: end;
    align-self: center;
}

.main {
    grid-row: 2/7;
    grid-column: 2/4;
    display: grid;
    gap: 20px;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: min-content;
    padding: 0px 30px;
    align-items: start;
    justify-content: center;
}

.cards {
    grid-row: 2/7;
    grid-column: 1/2;
    display: grid;
    grid-auto-flow: row;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    max-width: 100%;
}

.card {
    border-style: solid;
    height: 14rem;
}

.announcements {
    grid-row: 1/4;
    grid-column: 2/3;
}

.trending {
    grid-row: 4/7;
    grid-column: 2/3;
}